@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
body {
    margin: 20px;
    border: 60px green;

    font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    background-color: #fef2ba;
    display:  
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: auto;
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #c7f6bf;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.container{
    text-align: center;
    background-color: ;
}
#update-pb{
    background-color: #b7a2f7;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#update-button {
    background-color: #b7a2f7;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .logo {
    height: 100%;
    
}

main {
    padding: 20px;
    
}

.nametag{
    background: #7a99ef;
    width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
    font-size: 20px;
    
}
.greeting{
    background-color: #7a99ef;
    font-size: 50px;
    font-weight:bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
    text-align: center;
}
 #name-display{
    background-color: white;
 }
.name{
    background: white;
    height: 20px;
    padding: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 30px;
    font-family:'Fredoka+One';
    text-align: center;
}


